<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" http-equiv="X-UA-Compatible" content="IE=edge width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
    <title>SIGPRO</title>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/jquery.mask.min.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href="/img/sigpro.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/estilos.css">
    <script src="/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script>
		$(document).ready(function(){
			$("#phone").mask("(99) 9-9999-9999");
			$("#phone").on("blur", function() {
      		var last = $(this).val().substr( $(this).val().indexOf("-") + 1 );
		    if( last.length == 5 ) {
          	var move = $(this).val().substr( $(this).val().indexOf("-") + 1, 1 );
	        var lastfour = last.substr(1,4);
	        var first = $(this).val().substr( 0, 9 );
	        $(this).val( first + move + '-' + lastfour );
      		}
  			});
			}); 
	</script>

</head>
<body>

	<div class="cabecalho">
        <a href="/"><img src="/img/logo-branca.png"></a>
        <div class="cabecalho_log">
            <a href="/logout"><button class="btn btn-outline-secondary button_sair" style="">SAIR</button></a>
            <div th:text="'Olá '+ ${logado.nome}"></div>
        </div>
    </div>
	
	
	<div class="caixa_ex">
        <div class="caixa_in">
        <br>
        <div>
			<form method="POST" action="/pessoa/adicionar" th:object=${pessoa}>
				<h4 th:if="${resposta} eq 1" style="color: red;">Esse Login já existe, use outro por favor</h4>
				<div>NOVO DIGITADOR</div>
				<input type="hidden" th:field="*{id}">
				
				<div class="form-group">
						<label>Nome</label>
						<input class="form-control" type="text" name="nome" th:field="*{nome}" required>
				</div>
				<div class="form-group">
					<label>E-mail</label>
					<input class="form-control" type="email" name="email" th:field="*{email}" required>
				</div>
				<div class="form-group">
					<label>Telefone</label>
					<input class="form-control" type="text" id="phone" name="telefone" pattern="\([0-9]{2}\) [0-9]{1}-[0-9]{4,6}-[0-9]{3,4}$" th:field="*{telefone}" required>
				</div>
				<div class="form-group">
					<label>Login</label>
					<input class="form-control" type="text" name="login" th:field="*{login}" required>
				</div>
				
				<div class="form-group">
					<label>Senha</label>
					<input class="form-control" type="text" name="senha" th:field="*{senha}" required>
				</div>
				<div>
					<button class="btn-default" type="submit">Cadastrar</button>
				</div>
				<br>
			</form>
		</div>
		<div style="width: 100%; padding: 5px;">
				<a href="/"><button class="btn-default" style="float: right">VOLTAR</button></a>    
	    </div>
        </div>
    </div>
    
</body>
</html>